* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 15px;
}

body {
	background-color: #f0f2f5;
}

body, input, textarea, button {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}